.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 40%;
  margin: 0 auto;
}

.item {
  flex: 1;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
  }

  .item {
    width: 100%;
  }
}
